.contacts__wrapper {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 320px;
  height: 112px;


  @media (min-width: @tablet-width) {
    width: 768px;
    height: 199px;
  }

  @media (min-width: @desktop-width) {
    width: 565px;
    height: 198px;
  }
}

.contacts__wrapper--position_index {


  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 1;
    left: 110px;
    top: 2355px;
  }
}

.contacts__wrapper--position_form {
  position: absolute;
  z-index: 1;
  left: 110px;
  top: 1701px;
}

.contacts__wrapper--position_catalog {
  position: absolute;
  z-index: 1;
  left: 110px;
  top: 2079px;
}

.contacts__text {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 60px 0 0 80px;
  width: 163px;
  height: 82px;
}

.contacts__adress-block {
  margin-left: 87px;
}

.contacts__adress {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 56px 0 19px 0;
}

.contacts__city {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.contacts__image {
  max-width: 320px;
  max-height: 362px;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    min-height: 400px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    max-height: 400px;
  }
}
