.example__caption {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  margin: 126px 0 76px 110px;
}

.example__text-wrapper {
  width: 436px;
  padding-left: 110px;
}

.example__description {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 69px;
}

.example__weight-day-wrapper {
  display: grid;
  grid-template-columns: 162px 162px;
  grid-template-rows: 77px 20px;
  gap: 42px;
  margin-left: 110px;
}

.example__title {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 11px;
}

.example__p {
  display: inline-block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0 auto;
}

.example__price {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
}

.example__weight {
  display: flex;
  flex-direction: column;
}

.example__day {
  display: flex;
  flex-direction: column;
}

.example__price-p {
  display: inline-block;
  margin: 0 auto;
}

.example__grey-block {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  width: 1440px;
  height: 462px;
}

.example__slider {
  display: flex;
  flex-direction: row;
}
