

.how-it-works__caption {
  display: inline-block;
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  margin: 71px 0  72px 110px ;
}

.how-it-works__list {
  display: flex;
  flex-direction: row;
}

.how-it-works__item {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.how-it-works__description {
  width: 245px;
}

.how-it-works__item {
  margin-right: 80px;
}

.how-it-works__list {
  margin: 0 110px 0 110px;
  list-style: none;
  padding: 0ch;
}
