.main-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 63px 110px 63px 110px;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

}

.social__item-icon {
  margin-right: 26px;
}
